
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 130px);
}

.games-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.game-item {
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.5s;
    min-width: 250px;
    min-height: 230px;
    max-width: 300px;
    max-height: 250px;
    color: #FAFAFA;
    font-weight: 800;
}

.game-item:hover {
    transform: scale(1.1);
}

.game-icon {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    /* Сохраняет пропорции изображения, заполняя весь элемент */
    object-position: center;
    /* Центрирует изображение внутри контейнера */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 350px;
    max-width: 450px;
    min-height: 300px;
    max-height: 450px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Add animation for the modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #242526;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FAFAFA;
    font-weight: 800;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.circle,
.circle-border {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.circle {
    z-index: 1;
    position: relative;
    background: #242526;
    transform: scale(1);
    animation: success-anim 700ms ease;
}

.circle-border {
    z-index: 0;
    position: absolute;
    transform: scale(1.1);
    animation: circle-anim 400ms ease;
    background: #D9534F;
}

@keyframes success-anim {
    0% {
        transform: scale(0);
    }

    30% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes circle-anim {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.1);
    }
}

.error::before,
.error::after {
    content: "";
    display: block;
    height: 4px;
    background: #D9534F;
    position: absolute;
}

.error::before {
    width: 90px;
    top: 48%;
    left: 13%;
    transform: rotateZ(50deg);
}

.error::after {
    width: 90px;
    top: 48%;
    left: 13%;
    transform: rotateZ(-50deg);
}

.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button{
    padding: 5px 10px;
    background: #D9534F;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: 800;
}

@media (max-width: 767px) {
    .page-container {
      height: auto;
    }
  
    .games-container {
      padding: 10px;
    }
  
    .games-list {
      gap: 20px;
    }
  
    .game-item {
      min-width: 150px;
      min-height: 180px;
      max-width: 200px;
      max-height: 200px;
    }
  
    .modal-content {
      min-width: 280px;
      max-width: 350px;
      min-height: 250px;
      max-height: 400px;
    }
  }