.notification-badge {
    position: relative;
    display: inline-block;
}

.notification-count {
    position: absolute;
    top: -11px;
    right: -5px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}